@mixin has-icon{
    content: "";
    font-family: 'Material Symbols Outlined';
    font-size: 22px;
    color: $dark;
    margin-right: .3rem;
}

button,.button{
    font-weight: $semi-bold;
    text-transform: uppercase;
    border-radius: 100px;
    @include fs-regular;
    line-height: initial;
    padding: 2rem;
    border: 1px solid $dark;
    color: $dark;
    @include rotate;
    &:hover, &:active{
        @include box-shadow;
        border-color: $dark;
        color: $black;
    }
    &.is-primary{
        border: 1px solid $dark;
        background-color: $primary;
        &:hover, &:active{
            background-color: $white;
            border: 1px solid $black;
        }
    }
    &.has-arrow{
        &:before{
            @include has-icon;
            content: "\e941";
        }
    }
    &.has-tel{
        &:before{
            @include has-icon;
            content: "\e0b0";
        }
    }
    &.has-mail{
        &:before{
            @include has-icon;
            content: "\e158";
        }
    }
}