//eventos
.evento{
    @include radius;
    padding: 1rem;
    border: 1px solid $gray;
    background-color: rgba($white, .9);
    position: relative;
    display: flex;
    color: $dark;
    height: 100%;
    width: 100%;
    @include tablet{
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    @include desktop{
        margin-right: -1px;
    }
    .card-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        .card-header{
            position: relative;
            transition: transform .4s;
            img{
                aspect-ratio: 14 / 9;
                object-fit: cover;
                border-radius: .5rem;
                min-width: 100%;
                width: 100%;
                @include desktop{
                    min-width: 287px;
                }
            }
        }
        .card-content{
            flex: 1;
            margin-top: 1rem;
            .category{
                text-transform: uppercase;
                font-size: $tiny;
                margin-bottom: 1rem;
                font-weight: $semi-bold;
            }
            h3{
                line-height: 1.1;
            }
        }
        .card-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            .day{
                font-weight: $semi-bold;
                font-size: $small;
                span{
                    font-weight: 400;
                }
            }
            .time{
                text-align: right;
                font-size: $small;
            }
        }
    }
    &:hover, &:active{
        background-color: $primary;
        color: $black;
        border-color: $dark;
        .card-header{
            // transform: translateY(-2.5rem);
            transform: rotate(2deg);
            img{
                @include box-shadow;
            }
        }
    }
}

//Programa card
.programa{
    @include radius;
    padding: 1.5rem;
    border: 1px solid $gray;
    background-color: rgba($white, .8);
    position: relative;
    display: flex;
    flex-direction: column;
    color: $dark;
    height: 100%;
    @include tablet{
        padding: 2rem;
    }
    @include desktop{
        margin-right: -1px;
    }
    h3{
        margin-bottom: 1rem;
    }
    p{
        margin-bottom: 2rem;
        &:not(:last-of-type){
            margin-bottom: 1rem;
        }
    }
    .buttons.buttons-card{
        margin-top: auto;
        gap:0;
        .button{
            font-size: 14px;
            padding: .5rem 1rem;
            margin: 0 0 -1px 0;
            &:hover, &:active{
                background-color: $primary;
            }
            &::before{
                font-size: 16px;
            }
            @media only screen and (max-width: 595px) {
                font-size: 12px;
                // white-space: break-spaces;
                // text-align: left;
            }
        }
    }
}

//Subprograma card
.subprograma{
    @include radius;
    padding: 1.5rem;
    border: 1px solid $gray;
    background-color: rgba($white, .7);
    position: relative;
    display: flex;
    flex-direction: column;
    color: $dark;
    margin-bottom: 1.5rem;
    @include tablet{
        padding: 2rem;
        scroll-padding-top:7rem;
    }
    @include desktop{
        margin-bottom: -1px;
    }
    h3{
        margin-bottom: 1rem;
    }
    p{
        margin-bottom: 1rem;
    }
    .buttons.buttons-card{
        margin-top: auto;
        gap:0;
        .button{
            font-size: 14px;
            padding: .5rem 1rem;
            margin: 0 0 -1px 0;
            &:hover, &:active{
                background-color: $primary;
            }
            &::before{
                font-size: 16px;
            }
        }
    }
}

//Eje plan card
.ejeplan{
    @include radius;
    padding: 1.5rem;
    border: 1px solid $gray;
    background-color: rgba($white, .7);
    position: relative;
    display: flex;
    flex-direction: column;
    color: $dark;
    margin-bottom: 1.5rem;
    @include tablet{
        padding: 2rem;
    }
    @include desktop{
        margin-bottom: -1px;
    }
    h3{
        margin-bottom: 1rem;
    }
    p:not(:last-of-type){
        margin-bottom: 1rem;
    }
    .reto{
        background-color: rgba($secondary, .2);
        padding: 1.5rem;
        @include radius;
        height: 100%;
        p.h3{
            font-size: 18px;
            font-family: $title-family;
            line-height: 1.1;
        }
    }
    //Column divider
    .column-divider{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-divider{
            font-size: 70px;
            color: rgba($secondary, .2);
        }
    }
}

//Principio
.principio{
    @include radius;
    padding: 1.5rem;
    border: 1px solid $gray;
    position: relative;
    display: flex;
    flex-direction: column;
    color: $dark;
    height: 100%;
    overflow: hidden;
    @include tablet{
        padding: 2rem;
    }
    @include desktop{
        margin-bottom: -1px;
        margin-right: -1px;
    }
    h3{
        margin-bottom: 1rem;
    }
    p:not(:last-of-type){
        margin-bottom: 1rem;
    }
}

//Box
.box{
    @include radius;
    padding: 1rem;
    border: 1px solid $gray;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgba($white, .6);
    .box-content{
        padding: 0 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    h3{
        @include radius-child;
        background-color: $dark;
        color: $white;
        padding: 1rem;
    }
    h4{
        margin-top: 1.5rem;
    }
    ul,p{
        margin-top: .5rem;
        margin-bottom: 0;
    }
    p.is-first{
        display: block;
        margin-top: 2rem;
    }
    @include desktop{
        margin-right: -1px;
    }
    &.is-winter{
        h3{
            background-color: $blue;
        }
    }
    &.is-summer{
        h3{
            background-color: $yellow;
            color: $dark;
        }
    }
}

//Box map
.box-map{
    @include box-shadow;
    margin-top: 4rem;
    border-radius: .5rem;
    background-color: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row-reverse;
        @include radius;
    }
    height: 100%;
    .box-copy{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        @include desktop{
            width: 40%;
        }
        h3{
            margin-bottom: 1rem;
        }
        @include tablet{
            text-align: left;
            padding: 3rem;
        }
        color: $dark;
        .bottom-buttons{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 2rem;
            @include tablet{
                margin-top: auto;
            }
        }
    }
    .map-container{
        flex: 1;
        .google-map{
            width: 100%;
            height: 300px;
            @include tablet{
                height: 450px;
            }
        }
    }
}