.accordions{
    .accordion{
        background-color: rgba($gray-bg, .5);
        @include radius;
        padding: 1rem;
        @include transition;
        margin-bottom: .5rem;
        position: relative;
        overflow: hidden;
        border: 1px solid $gray;
        @include tablet{
            padding: 1.5rem;
        }
        @include desktop{
            margin-bottom: -1px;
        }
        .accordion-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;
        }
        .accordion-icon{
            line-height: 0;
            .icon{
                border-radius: 100px;
                color: $dark;
                font-size: 30px;
            }
        }
        .accordion-content{
            padding-top: 1rem;
            display: none;
            min-height: 12rem;
            p{
                margin-bottom: 1rem
            }
            img{
                @include radius-child;
                aspect-ratio: 16 / 9;
                    object-fit: cover;
                @include desktop{
                    @include radius;
                    position: absolute;
                    height: 105%;
                    top: 0;
                    right: -1%;
                    z-index: 0;
                    transform: rotate(-3deg);
                    ////
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    width: 40%;
                }
            }
        }
        &:hover, &:active{
            background-color: $primary;
            @include box-shadow;
            border-color: $dark;
            h3{
                color: $dark;
            }
            .icon{
                color: $dark;
            }
        }
        &.is-active{
            background-color: $white;
            @include box-shadow;
            border-color: $dark;
            h3{
                color: $dark;
            }
            .icon{
                color: $dark;
                background-color: $white;
            }
            .accordion-content{
                display: block;
            }
            &:hover, &:active{
                border-color: $dark;
            }
        }
    }
}

//Accordions for Cursos

.accordion{
    &.is-cultura{
        .date{
            color: $color-cultura;
        }
        &:not(.is-active){
            background-color: $color-cultura;
            h3, .icon{
                color: $white;
            }
        }
    }
    &.is-estetica{
        .date{
            color: $color-estetica;
        }
        &:not(.is-active){
            background-color: $color-estetica;
            h3, .icon{
                color: $white;
            }
        }
    }
    &.is-deporte{
        .date{
            color: $color-deporte;
        }
        &:not(.is-active){
            background-color: $color-deporte;
            h3, .icon{
                color: $white;
            }
        }
    }
    &.is-danza{
        .date{
            color: $color-danza;
        }
        &:not(.is-active){
            background-color: $color-danza;
            h3, .icon{
                color: $white;
            }
        }
    }
    &.is-informatica{
        .date{
            color: $color-infor-dark;
        }
        &:not(.is-active){
            background-color: $color-informatica;
            h3, .icon{
                color: $dark;
            }
        }
    }
    .accordion-content{
        .curso{
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid $gray;
            p.date{
                margin-bottom: .25rem;
                font-size: $small;
                font-weight: $semi-bold;
            }
            p.day-time{
                margin-bottom: .25rem;
            }
           p.age{
                margin-bottom: 0;
            }
            h4{
                text-transform: none;
                margin-bottom: .25rem;
                font-size: 18px;
            }
        }
    }
}

//Event detail
.event-detail{
    position: relative;
    .columns{
        @include desktop{
            flex-direction: row-reverse;
        }
    }
    margin: 3rem 0 0 0;
    h1{
        line-height: 1.1;
        color: $dark;
        @include fs-title2;
        text-align: left;
        margin-bottom:2rem;
    }
    .category{
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: $semi-bold;

    }
    .description{
        margin-top: 1rem;
        p{
            margin-bottom: 1rem;
            @include desktop{
                font-size: 18px;
                line-height: 1.4;
            }
        }
    }
    .buttons{
        margin-top: 2rem;
    }
    .event-image img{
        @include radius;
    }
}

//Addtoany
.addtoany_shortcode{
    margin-top: 1rem;
}