.accordions{
    .accordion{
        background-color: rgba($gray-bg, .5);
        @include radius;
        padding: 1rem;
        @include transition;
        margin-bottom: .5rem;
        position: relative;
        overflow: hidden;
        border: 1px solid $gray;
        @include tablet{
            padding: 1.5rem;
        }
        @include desktop{
            margin-bottom: -1px;
        }
        .accordion-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;
        }
        .accordion-icon{
            line-height: 0;
            .icon{
                border-radius: 100px;
                color: $dark;
                font-size: 30px;
            }
        }
        .accordion-content{
            padding-top: 1rem;
            display: none;
            min-height: 12rem;
            img{
                @include radius-child;
                @include desktop{
                    @include radius;
                    position: absolute;
                    height: 105%;
                    top: 0;
                    right: -1%;
                    z-index: 0;
                    transform: rotate(-3deg);
                    ////
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    width: 40%;
                }
            }
        }
        &:hover, &:active{
            background-color: $primary;
            @include box-shadow;
            border-color: $dark;
        }
        &.is-active{
            background-color: $white;
            @include box-shadow;
            border-color: $dark;
            .icon{
                background-color: $white;
            }
            .accordion-content{
                display: block;
            }
            &:hover, &:active{
                border-color: $dark;
            }
        }
    }
}