:root {
accent-color: $primary;
}

*:focus{
outline: none;
}

.control{
    input,textarea, select{
        box-shadow: none;
        border-radius: 9px;
        border-color: $gray;
        &:hover, &:focus, &:active{
            border-color: $dark;
            background-color: $primary;
            @include box-shadow;
            &::placeholder{
                color: $dark;
            }
        }
    }
}

label.label{
    font-weight: $semi-bold;
    margin-bottom: .4rem;
}


form.is-dark{
    color: $white;
    a{
        color: $primary;
        &:hover, &:active{
            color: $white;
        }
    }
    label.checkbox{
        &:hover{
            color: $white;
        }
    }
}

//Select
.select:not(.is-multiple):not(.is-loading)::after{
    border-radius: 0;
    border-width: 2px;
}

//Show-hide search form
.toggle-search{
	display: flex;
	align-items: center;
	justify-content: center;
    color: $dark;
    border: 1px solid $dark;
    border-radius: 100px;
    padding: 1rem;
	.material-symbols-outlined{
		font-size: 14px;
		margin-left: .5rem;
	}
}

//Check-radio
.is-checkradio[type="radio"] + label::before, .is-checkradio[type="radio"] + label:before, .is-checkradio[type="checkbox"] + label::before, .is-checkradio[type="checkbox"] + label:before{
    border-color: $gray;
    background-color: $white;
}
.is-checkradio[type="checkbox"] + label::before, .is-checkradio[type="checkbox"] + label:before{
    border-radius: .3rem;
}
.is-checkradio[type="checkbox"]:checked + label::before, .is-checkradio[type="checkbox"]:checked + label:before {
    background-color: $primary;
    border-color:$dark;
}
.is-checkradio[type="checkbox"] + label::after, .is-checkradio[type="checkbox"] + label:after{
    border-color: $dark;
}
.is-checkradio[type="radio"]:hover:not([disabled]) + label::before, .is-checkradio[type="radio"]:hover:not([disabled]) + label:before, .is-checkradio[type="checkbox"]:hover:not([disabled]) + label::before, .is-checkradio[type="checkbox"]:hover:not([disabled]) + label:before{
    border-color: $dark !important;
}
.is-checkradio[type="radio"] + label, .is-checkradio[type="checkbox"] + label{
    padding-top: .2rem;
}
.is-checkradio[type="checkbox"].is-medium + label {
    padding-top: 0.3rem;
}

label a{
    color: $dark;
    text-decoration: underline;
}

//Form agenda
.form-events{
    input,.select{
        border-color: $white;
    }
}


//Form Clubes
.form-clubes{
    margin-top: 3rem;
    h4{
        margin: 2rem 0 2rem 0;
    }
    .help{
        display: none;
        margin-top: .8rem;
        padding-left: 2.5rem;
        @include desktop{
            display: block;
        }
    }
    .field.field-checkbox{
        margin-bottom: 2rem;
    }
    .is-checkradio[type="checkbox"].is-medium + label{
        font-weight: $semi-bold;
    }
}

