html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body{
	background-color: $white;
	&.no-scroll{
		overflow: hidden;
		height: 100vh;
		padding-right: 15px;
		@include desktop{
			padding-right: 0;
		}
	}
}

main.main{
	position: relative;
	z-index: 3;
	background-color: $dark;
}

//header
header.hero{
	position: relative;
	background-color: $black;
	border-radius: 1rem;
	@include tablet{
		@include radius-lg;
	}
	.hero-image{
		img{
			aspect-ratio: 4 / 3;
			object-fit: cover;
			min-width: 100%;
			border-radius: 1rem;
			min-height: 350px;
			@include tablet{
				aspect-ratio: 16 / 9;
				@include radius-lg;
				min-height: none;
			}
			display: block;
			opacity: .4;
			@include desktop{
				aspect-ratio: 26 / 9;
			}
		}
	}
	.hero-copy{
		position: absolute;
		top: 4rem;
		height: calc(100% - 8rem);
		width: 100%;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
		h1{
			line-height: 1.1;
			color: $white;
		}
		.lead{
			color: $white;
			margin-top: 1rem;
			font-weight: $semi-bold;
			line-height: 1.3;
			@include tablet{
				font-size: 18px;
				width: 46ch;
			}
			@include desktop{
				font-size: 20px;
				line-height: 1.4;
			}
		}
	}
	&.is-simple{
		padding: 3rem;
		background-color: $secondary;
		background: linear-gradient(137deg, $secondary 46%, $primary 100%);
		h1{
			line-height: 1.1;
			color: $dark;
			@include fs-title2;
			margin: 1.5rem 0 2.5rem;
		}
		.breadcrumbs{
			li{
				color: $dark;
			}
		}
	}
	&.is-detail{
		padding: 3rem;
		background-color: $white;
		.breadcrumbs{
			li{
				color: $dark;
				a{
					color: $secondary;
				}
			}
		}
	}
}

.hero-nav{
	position: absolute;
	top: 1rem;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
    padding: 1rem 2rem;
	justify-content: center;
	z-index: 2;
	@include desktop{
		justify-content: space-between;
	}
}

//footer
footer.footer{
	background-color: $dark;
	.footer-wrapper{
		background-color: $gray-bg;
		padding: 3rem 1rem;
		position: relative;
		@include radius;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		@include tablet{
			@include radius-lg;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		@include desktop{
			padding: 3rem 0;
		}
	}
	a{
		color:$black;
		&:hover, &:active{
			color: $secondary;
		}
	}
	h4{
		width: 28ch;
		margin-bottom: .25rem;
	}
	.col-footer{
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.address:not(:last-of-type){
		margin-bottom: 1.5rem;
	}
	.legal-text{
		margin-top:1rem;
		font-size: $tiny;
		color: $gray-dark;
		@include tablet{
			margin-top: auto;
		}
		@include fullhd{
			font-size: $small;
		}
	}
}

//cta
.cta-container{
	margin: 2rem auto;
}

//Flex shortcodes
.d-flex{
	display: flex;
	align-items: center;
	&.space-between{
		justify-content: space-between;
	}
}

//My spacing
.mt-2{
	margin-top: 2rem !important;
}

// Columns
.columns.is-0-desktop{
	.column{
		@include desktop{
			padding: 0;
			margin-bottom:-1px;
		}
	}
}