.navbar.navbar-custom{
    align-items: center;
    @include desktop{
        padding: 0 3rem;
    }
    .navbar-menu{
        align-items: center;
        margin-right: 0;
        box-shadow: none;
        a.navbar-item, a.navbar-link{
            border-radius: 100px;
            border: 1px solid $gray;
            background-color: $white;
            color: $dark;
            padding-top: .3rem;
            padding-bottom: .3rem;
            font-weight: $semi-bold;
            &:hover, &:active, &.is-active{
                background-color: $primary;
                border-color: $dark;
            }
        }
        // El menú abierto en responsive vertical
        &.is-active{
            box-shadow: none;
            background-color: $white;
            padding: 1rem;
            overflow-y: scroll;
            position: fixed;
            width: 100%;
            inset: 0;
            top: 88px;
            a.navbar-item, a.navbar-link{
                padding-top: .6rem;
                padding-bottom: .6rem;
                padding-left: 1rem;
                margin-bottom: .5rem;
                &.is-search{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
            .language{
                margin: 1.5rem 0;
                text-align: center;
            }
            .navbar-dropdown{
                margin-bottom: .5rem;
                margin-top: -9px;
                box-shadow: none;
            }
        }
    }
    .navbar-brand{
        align-items: center;
        .navbar-item.is-logo{
            img{
                max-height: 4.5rem;
            }
            transition: transform .5s;
            &:hover, &:active, &.is-active{
                transform: rotate(2deg);
            }
        }
        .navbar-burger{
            border: 1px solid $gray;
            border-radius: 100px;
            margin-right: .75rem;
            &:hover, &:active, &.is-active{
                background-color: $primary;
                border-color: $dark;
                span{
                    background-color: $dark;
                }
            }
        }
    }
    .navbar-dropdown{
        font-size: 1rem;
        border-top: none;
        border-radius: 16px;
        border: 1px solid $gray;
        overflow: hidden;
        padding: 0;
        margin-top: -1px;
        @include box-shadow;
        .navbar-item.dropdown-item{
            border: none;
            border-radius: 0;
            @include fs-regular;
            display: flex;
            background-color: transparent;
            padding: .5rem 1rem;
            span{
                width: 30px;
                color: $gray;
            }
            &:hover, &:active{
                transform: none;
            }
        }
    }
}

//If fixed-top
.navbar.navbar-custom.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    @include tablet{
        border-bottom-left-radius: $radius-lg;
        border-bottom-right-radius: $radius-lg;
    }
    background-color: $white;
    + .main{
        margin-top: 90px;
    }
}


//Navbar secondary
.navbar-secondary{
    background-color: $white;
    display: none;
    margin-top: .5rem;
    padding: 0 3rem;
    @include desktop{
        display: block;
    }
    .secondary-menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        text-align: right;
        gap: 1rem;
        @include fs-small;
        .nav-item{
            a{
                color: $dark;
            }
            .language{
                a{
                    color: $gray;
                    &.is-active{
                        color: $dark;
                    }
                }
            }
        }
    }
}

//Language selector
.language{
    a{
        color: $gray;
        &.is-active{
            color: $dark;
        }
    }
}

//Custom arrow for dropdown
.navbar-link:not(.is-arrowless)::after{
    border-color:$dark;
    border-radius: 0;
    border-width: 1px;
    margin-top: -0.45em;
}

//Breadcrumbs
.breadcrumbs{
    ul{
        display: flex;
        flex-direction: row;
        gap: .2rem;
        li{
            font-size: $tiny;
            display: flex;
            align-items: center;
            color: $primary;
            @include tablet{
                font-size: $small;
            }
            a{
                color: $white;
            }
            &:not(:last-child):after{
                font-family: 'Material Symbols Outlined';
                font-size: 18px;
                content: "\e409";
                padding-left: .1rem;
                line-height: 0;
            }
        }
    }
}

//Anchors
.anchors{
    display: none;
    @include desktop{
        display: flex;
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        li{
            font-size: $small;
            a{
                color: $white;
                &:hover, &:active{
                    color: $primary;
                }
            }
            &.is-active{
                a{
                    color: $primary;
                }
            }
        }
    }
}


//Anchors sticky when scrolling
.anchors-top{
    position: fixed;
    top: 5.5rem;
    background-color: rgba($white,.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80%;
    left: 10%;
    z-index: 9;
    justify-content: center;
    padding: 1rem 1.5rem 0 1.5rem;
    @include box-shadow;
    display: none;
    border-radius: 100px;
    &.show{
        @include desktop{
            display: block;
            animation: fadeIn ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            }
            @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    &.hide{
        display: none;
    }
    .logo-sticky{
        position: absolute;
        top: -14px;
        img{
            width: 125px;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        li{
            a{
                color: $gray-dark;
                font-weight: $semi-bold;
                &:hover{
                    color: $dark;
                }
            }
            &.is-active{
                a{
                    color: $dark;
                }
            }
        }
    }
}

//Bug anchors position
// .is-anchored{
//     display: block;
//     padding-top: 7rem;
//     margin-top: -7rem;
// }

//Tabs
.tabs.is-toggle li{
    a{
        border-radius: 100px;
    }
    &.is-active{
        a{
            background-color: $dark;
            border-color: $dark;
        }
    }
    &:first-child{
        a{
            border-top-left-radius: 100px;
            border-bottom-left-radius:100px;
        }
    }
    &:last-child{
        a{
            border-top-right-radius: 100px;
            border-bottom-right-radius:100px;
        }
    }
}

//Pagination
.pagination{
    margin-top: 2rem;
}