
  h2.has-bg.reveal{
    &:before{
      transition: 2s all ease-in-out;
      width: 0;
    }
    &.active{
      &::before{
        width: 50%;
        @include desktop{
          width: 30%;
        }
      }
    }
  }

    //Other animations
    .fade-in{
      animation: fadeIn ease 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
       }
  }

  //Skew
  .skew{
    transform: skew(0deg);
  }

  //Progress

  progress {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 3px;
    border: none;
    background: $white;
    margin: 0 auto;
  }
  progress::-webkit-progress-bar {
    background: transparent;
  }
  progress::-webkit-progress-value {
    background: linear-gradient(to left, $secondary,$primary);
    background-attachment: fixed;
  }
  progress::-moz-progress-bar {
    background: linear-gradient(to left, $secondary,$primary);
    background-attachment: fixed;
  }