//Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// Google icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');


//Fonts titles
@font-face {
	font-family: 'VastagoGrotesk-Black';
	src: url('../fonts/vastago-grotesk-black.eot');
	src: url('../fonts/vastago-grotesk-black.eot?#iefix') format('embedded-opentype'),
             url('../fonts/vastago-grotesk-black.woff2') format('woff2'),
	     url('../fonts/vastago-grotesk-black.woff') format('woff'),
	     url('../fonts/vastago-grotesk-black.ttf') format('truetype'),
	     url('../fonts/vastago-grotesk-black.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Font sizes

@mixin fs-small{
	font-size: clamp(12px, 1vw, 14px);
}

@mixin fs-regular{
	font-size: clamp(15px, 1vw, 16px);
}

@mixin fs-title1{
	font-size: clamp(30px, 4vw, 70px);
}

@mixin fs-title2{
	font-size: clamp(24px, 3vw, 50px);
}

@mixin fs-title3{
	font-size: clamp(18px, 2vw, 22px);
}

::selection {
	background: $primary;
	color: $dark;
  }

body{
	font-family: $family-sans-serif;
	color: $dark;
	@include fs-regular;
	line-height: 1.2;
}

a{
	@include transition;
}


h1{
	@include fs-title1;
	font-family: $title-family;
	color: $white;
	text-align: center;
	line-height: 1.2;
}

h2{
	@include fs-title2;
	font-family: $title-family;
	color: $dark;
	text-align: center;
	padding: 2rem 1rem 1.5rem 1rem;
	line-height: 1.2;
	@include tablet{
		padding: 3rem 1rem 3.5rem 1rem;
	}
	position: relative;
	z-index: 0;
	&.has-bg{
		&::before{
			content: "";
			display: block;
			position: absolute;
			z-index: 1;
			border-radius: 100px;
			background-color: $primary;
			height: 40px;
			width: 100px;
			margin: 0 auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(3deg) ;
			transition: width 1.5s;
			mix-blend-mode: multiply;
		}
	}
}

h3{
	@include fs-title3;
	font-family: $title-family;
	color: $dark;
	line-height: 1.1;
}

h4{
	font-weight: $bold;
	text-transform: uppercase;
	span{
		text-transform: none;
		color: $gray;
		font-weight: $regular-weight;
	}
}

.claim{
	font-size: clamp(22px, 2.5vw, 40px);
	font-family: $title-family;
	line-height: 1.1;
}

.lead{
	font-size: 16px;
	@include tablet{
		font-size: 18px;
	}
	@include desktop{
		font-size: 20px;
	}
	text-align: center;
	margin: 0 auto 3rem auto;
	@include tablet{
		width: 50ch;
	}
	&.is-alone{
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.strong,strong,b{
	font-weight: $bold;
}

.text-colophon{
	text-align: center;
	margin: 3rem auto;
	@include tablet{
		width: 60ch;
	}
}

.ladillo{
	background-color: $primary;
	@include radius;
	font-size: 22px;
	height: 100%;
	padding: 1.5rem;
	display: flex;
	justify-content: center;
	@include desktop{
		padding: 3rem;
	}
}


//Blocks
.title-block{
	display: block;
	margin: 2.5rem 0;
	.month{
		text-transform: uppercase;
		color: $gray;
	}
}

//Lists
.list-checks{
	li{
		display: flex;
		align-items: center;
		margin-bottom: .5rem;
		&:before{
			font-family: 'Material Symbols Outlined';
    		content: "\e86c";
			font-size: 26px;
			color: $secondary;
			margin-right: .3rem;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}


.list-bullets{
	padding-left: 1rem;
	li{
		list-style: disc;
		margin-bottom: .5rem;
		line-height: 1.3;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.list-rrss{
	display: flex;
	gap: .5rem;
	flex-direction: row;
	margin: .5rem 0 1.5rem 0;
	li{
		a{
			border-radius: 6px;
			border: 1px solid $dark;
			display: block;
			line-height: 0;
			img{
				width: 38px;
				height: 38px;
			}
			&:hover, &:active{
				background-color: $primary;
			}
		}
	}
}

.list-legal{
	li:not(:last-of-type){
		margin-bottom: .2rem;
	}
}

.list-links{
	display: flex;
	flex-direction: column;
	li {
		border-bottom: 1px solid $gray;
		a{
			display: flex;
			align-items: center;
			padding: .5rem;
			border-radius: 100px;
			&:before{
				font-family: 'Material Symbols Outlined';
				content: "\e941";
				font-size: 26px;
				color: $secondary;
				margin-right: .3rem;
			}
			&:last-child{
				margin-bottom: 0;
			}
			color: $dark;
			&:hover, &:active{
				background-color: $primary;
				&:before{
					color: $dark;
				}
			}
		}
	}
}