@charset "utf-8";


//Colors
$primary:#FEFF00;
$secondary:#00CD5F;
$black:#000000;
$dark:#2D3632;
$white:#ffffff;
$blue:#1CA5D6;
$yellow:#F2E25F;
$gray:#999999;
$gray-light:#DDDDDD;
$gray-dark:#666666;
$gray-bg:#f0f0f0;
$body-color:$dark;
$link:$secondary;
$input-placeholder-color:$gray-dark;
$color-cultura: #ED4A4D;
$color-estetica: #C257FF;
$color-deporte:#4BB05A;
$color-danza:#03BFFA;
$color-informatica:#FFED3B;
$color-infor-dark:#a0931f;

//Fonts
$family-sans-serif: 'Inter', sans-serif;
$title-family:'VastagoGrotesk-Black', Georgia, Times, 'Times New Roman', serif;
$title-weight:normal;
$regular-weight:400;
$tiny:12px;
$small:14px;
$regular:16px;
$semi-bold:600;
$bold:700;
$radius-lg:3rem;
$radius:1rem;
$radius-child:.5rem;



//MIXINS

//Radius
@mixin radius{
    border-radius: $radius;
}
@mixin radius-child{
    border-radius: $radius-child;
}
@mixin radius-top{
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin radius-bottom{
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}
@mixin radius-lg{
    border-radius: $radius-lg;
}

//Box shadow
@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 22px -4px rgba($dark,0.25);
    -moz-box-shadow: 0px 0px 22px -4px rgba($dark,0.25);
    box-shadow: 0px 0px 22px -4px rgba($dark,0.25);
}

//Animation transition
@mixin transition{
    transition: all 0.3s ease;
}

//Animation rotate
@mixin rotate{
    transition: transform .4s;
    &:hover, &:active, &.is-active{
        transform: rotate(5deg);
    }
}

//Background gradient
.bg-gradient{
    background-color: $white;
    background-image: url("../images/gradient-card.jpg");
	background-size: cover;
    background-position: bottom right;
}


//Bulma stuff
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/form/_all";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";


//Custom
@import "typography.scss";
@import "reveal.scss";
@import "layout.scss";
@import "sections.scss";
@import "navigation.scss";
@import "components.scss";
@import "banners.scss";
@import "buttons.scss";
@import "cards.scss";
@import "bulma-checkradio.sass";
@import "forms.scss";
@import "slides.scss";

